        
        <script type="text/javascript" src="/scripts/styles.js"></script>
        
        <!-- jQuery script, obtained from "https://code.jquery.com" -->
	<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>-->

	<!-- Bootstrap's Javascript file -->
	<!--<script type="text/javascript" src="/scripts/bootstrap.js"></script>-->
    </body>
</html>