<% include ./partials/header %>

<div id="about-intro-photo" class="sixteen wide column">
    <div class="about-background" style="text-align: center; overflow: hidden">
        <div class="layer">
            <div class="about-intro-text">So, You Wanna Know My... Secret Identity?</div>
        </div>
    </div>
</div>

<div class="container-ish">
    <div class="row">
        <div class="col-xs-12" style="background-color: #efc015; font-size: 28px">
            <p style="padding: 1em 1em">
            Who am I? I'm Spider-Ma-- I mean, I'm an artist, gamer, and aspiring software engineer!
            Although I am, sadly, not Spider-Man (or am I?), we do have some similarities: He likes to shoot webs, 
            I like to build web apps. Okay, so maybe that's stretching it a bit... But hey, it's something!
            </p>
        </div>
        <div class="col-xs-12" style="padding: 0 0; height: 100%; text-align: center; overflow: hidden">
            <img src="/images/Santa_Barbara.jpg" style="min-width: 100%; max-height: 100%; position: relative; left: 100%; margin-left: -200%">
        </div>
    </div>
</div>

<% include ./partials/footer %>