<% include ./partials/header %>

<div id="about-intro-photo" class="sixteen wide column">
    <div class="about-background" style="text-align: center; overflow: hidden">
        <div class="layer">
            <div class="about-intro-text">Dreamscape</div>
        </div>
    </div>
</div>

<div class="container">
    
</div>

<% include ./partials/footer %>