<% include ./partials/header %>


<div id="intro_photo">
    <div class="background parallax">
        <div class="layer">
            <div class="intro-text">Hi! I'm <span>Henry Chang.</span></div>
            <h2 class="intro-subtitle">Artist, Dreamer, <!-- Upcoming --> Software Developer</h2>
        </div>
    </div>
</div>

<div class="intro-div">
    <div class="row">
        
        <div class="col-xs-12 intro-section">
            <h3 class="intro-to-port-h3">Here to check out my portfolio? 
            <a type="button" class="btn btn-primary btn-lg" href="/portfolio">Click Here!</a>
            </h3>
        </div>
    </div>
    
    <!-- About Me -->
    <div class="row" style="background-color: #cce2e2">
        
        <div class="col-xs-12 intro-section">
            <h2 class="page-divider strong">
                <span>
                    <strong>A Little About Me</strong>
                </span>
            </h2>
            <div class="container">
                <div class="row eql-hgt">
                    <div class="col-md-3 col-xs-12">
                        <img class="thumbnail about-pic vert-spaced center-image" src="/images/tux-cropped.jpg">
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <p class="about-text">Hi there! I'm a UC Berkeley grad and a software developer. I majored
                        in Statistics while in UCSB and then in Applied Mathematics when I transferred to UC Berkeley, but the few 
                        Computer Science courses I took as prerequisites peaked my interest in the world of programming. Such 
                        interests led me to delve even further and to take the core CS classes such as those in Data Structures 
                        and Algorithms.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- My Background -->
    <div class="row">
        <div class="col-xs-12 intro-section">
            <h2 class="page-divider strong" style="padding-bottom: 10px">
                <span>
                    <strong>My Background</strong>
                </span>
            </h2>
            <div class="container">
                <!-- the "flex" class makes it so that a new row is started if the 12 column space is exceeded -->
                <div class="row">
                    
                    <!-- UC Berkeley -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="my-bg-pic vert-spaced" src="/images/uc_berk_campus.jpg">
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12 my-bg-text">
                        <h3 class="my-bg-title">University of California, Berkeley</h3>
                        <h4 class="my-bg-subtitle">B.A. in Applied Mathematics, earned Dec 2017</h4>
                        <div class="my-bg-content">
                            <p style="margin-bottom: 0.2em">
                                UC Berkeley presented great opportunities to branch out and challenge myself in pursuit of my 
                                dreams. 
                                I was able to further pursue my interest in Computer Science by taking courses such as:
                            </p>
                            <ol>
                                <!--<li>CS 10 - The Beauty and Joy of Computing</li>-->
                                <li>CS 61A - Structure and Interpretation of Computer Programs</li>
                                <li>CS 61B - Data Structures</li>
                                <li>CS 170 - Efficient Algorithms and Intractable Problems</li>
                                <li>CS 188 - Introduction to Artificial Intelligence</li>
                                <!--<li>CS 195 - Social Implications of Computer Technology</li>-->
                            </ol>
                            <% if (calBlog) { %>
                                <p>
                                    You can read more about my journey in UC Berkeley <a href="/blog/<%= calBlog._id %>">here</a>!
                                </p>
                            <% } else { %>
                                <p>
                                    You can read more about my journey in UC Berkeley in my blog!
                                    <!--You can read more about my journey in UC Berkeley <a href="/blog/5c0789ef8076c80016b425d1">here</a>!-->
                                </p>
                            <% } %>
                        </div>
                    </div>
                </div>
                    
                <div class="row">
                    <!-- UCSB -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="my-bg-pic vert-spaced" src="/images/ucsb.jpg">
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12 my-bg-text">
                        <h3 class="my-bg-title">University of California, Santa Barbara</h3>
                        <h4 class="my-bg-subtitle">Curriculum in Statistical Science, B.S.</h4>
                        <div class="my-bg-content">
                            <p style="margin-bottom: 0.2em">
                                The two years that I spent in UCSB as a Statistical Science major truly changed my life. UCSB was 
                                wonderful: as a student, one is able to work hard in the pursuit of one's goals and play hard when one 
                                needs a break. I will forever be grateful that UCSB generously invested its resources to nurture and 
                                grow my potential as a student by granting me a place in the UCSB Letters & Science Honors Program. 
                                Of all the courses I took in UCSB, three left the greatest, lasting impressions on me:
                            </p>
                            <ol style="margin-bottom: 0.2em">
                                <li>Mathematics 3B - Calculus with Applications 2</li>
                                <li>Computer Science 8 - Intro to Computer Science</li>
                                <li>Theater 5 - Intro to Acting</li>
                            </ol>
                            <% if (ucsbBlog) { %>
                                <p>
                                    You can read more about my journey in UCSB <a href="/blog/<%= ucsbBlog._id %>">here</a>!
                                </p>
                            <% } else { %>
                                <p>
                                    You can read more about my journey in UCSB in my blog!
                                    <!--You can read more about my journey in UCSB <a href="/blog/5c0789cf8076c80016b425d0">here</a>!-->
                                </p>
                            <% } %>
                            <!--<p>-->
                            <!--    It was also in UCSB that I discovered my passion for computer science. While I had at first taken the -->
                            <!--    computer science course to fulfill a prerequisite for my Statistics major, I soon found myself -->
                            <!--    captivated by the glimpse of endless potential that I saw in CS. This interest in CS would have a -->
                            <!--    chance to bloom during my years in UC Berkeley.-->
                            <!--</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<% include ./partials/footer %>