<% include ./partials/header %>


<div id="intro_photo">
    <div class="background">
        <div class="layer">
            <div class="intro-text">Hi! I'm <span>Henry Chang.</span></div>
            <h2 class="intro-subtitle">Artist, Dreamer, Upcoming Software Engineer</h2>
        </div>
    </div>
</div>

<div class="something">
    <div class="row">
        
        <div class="col-xs-12 intro-section">
            <h3>Here to check out my portfolio? 
            <a type="button" class="btn btn-primary btn-lg" href="/portfolio">Click Here!</a>
            </h3>
        </div>
    </div>
    
    <!-- About Me -->
    <div class="row" style="background-color: #cce2e2">
        
        <div class="col-xs-12 intro-section">
            <h2 class="page-divider strong">
                <span>
                    <strong>A Little About Me</strong>
                </span>
            </h2>
            <div class="container">
                <div class="row eql-hgt">
                    <div class="col-md-3 col-xs-12">
                        <img class="thumbnail about-pic vert-spaced center-image" src="/images/tux-cropped.jpg">
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <h3 class="about-text">Who am I? I'm Spider-Ma-- I mean, I'm an artist, gamer, and aspiring software engineer!
                            Although I am, sadly, not Spider-Man (or am I?), we do have some similarities: He likes to shoot webs, 
                            I like to build web apps. Okay, so maybe that's stretching it a bit... But hey, it's something!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- My Background -->
    <div class="row">
        <div class="col-xs-12 intro-section">
            <h2 class="page-divider strong">
                <span>
                    <strong>My Background</strong>
                </span>
            </h2>
            <div class="container">
                <!-- the "flex" class makes it so that a new row is started if the 12 column space is exceeded -->
                <div class="row">
                    
                    <!-- UC Berkeley -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="my-bg-pic vert-spaced" src="/images/uc_berk_campus.jpg">
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12 my-bg-text">
                        <h3 class="my-bg-title">University of California, Berkeley</h3>
                        <h4 class="my-bg-subtitle">B.A. in Applied Mathematics, earned Dec 2017</h4>
                        <p class="my-bg-content">
                            
                        </p>
                    </div>
                </div>
                    
                <div class="row">
                    <!-- UCSB -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="my-bg-pic vert-spaced" src="/images/ucsb.jpg">
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12 my-bg-text">
                        <h3 class="my-bg-title">University of California, Santa Barbara</h3>
                        <h4 class="my-bg-subtitle">Curriculum in Statistical Science, B.S.</h4>
                        <p class="my-bg-content">
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<% include ./partials/footer %>