<% include ./partials/header %>

<!--<h1>THIS IS THE RESUME PAGE</h1>-->

<!-- the content-beginning-resume div serves as empty white space above the resume object. In computers, jQuery will add color to
this white space-->
<div class="content-beginning-resume"></div>
<div class="resume-div">
    <object class="resume" data="/files/Henry_Chang_Resume.pdf"></object>
</div>

<% include ./partials/footer %>