<% include ./partials/header %>

<!--<h1>THIS IS THE RESUME PAGE</h1>-->

<!-- the content-beginning-white-space div serves as empty white space above the resume object. In computers, jQuery will add color to
this white space-->
<div class="background-div"></div>
<div class="resume-div content-beginning-resume">
    <object class="resume" data="/files/Henry_Chang_Resume.pdf"></object>
</div>

<% include ./partials/footer %>