<% include ./partials/header %>

<!--<h1>THIS IS THE RESUME PAGE</h1>-->
<div class="resume-div content-beginning-resume">
    <object class="resume" data="/files/Henry_Chang_Resume.pdf"></object>
</div>

<% include ./partials/footer %>